.Auth .card{
    border-radius: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: column;
    gap:30px;
    width:280px;
    padding: 1rem;
    border-radius: 50px;
    background: #e8e8e8;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    margin-left: 100%;
}
.Auth input{
    width: 180px;
}
.Auth{
    background-image: url(../assets/images/login.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
}