.BookingPage{
    padding: 50px 20px;  
    background-image: url(../../assets/images/hero-slider-3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.heading{
  font-family: "Dancing Script", cursive !important;
  text-shadow: 1px 1px 5px rgb(30, 41, 59);
  color:  rgb(181, 212, 255);
  font-size: 40px !important;
  font-weight: 600 !important;
  text-align: center;
}

.BookingForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.BookingForm form{
    width: 450px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
}
.BookingForm input{
    border-radius: 28px;
    width: 270px;
    height: 17px !important;
}
.BookingForm button{
    background-color: #00142b !important;
    height: 45px !important;
    width: 75%;
    border-radius: 25px;
}
.BookingForm form select{
    width: 300px;
}
.BookingForm img{
    width: 47%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    overflow: hidden;
    border-radius: 25px;
    padding: 5px;
}

.success-card{
    padding: 20px;
    width:50%;
    border-radius: 25px;
}
.success-card p{
    color: gray;
    padding: 12px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.692);
}
.success-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}